---
import { formatDate } from "@/utils/formatDate";
import Heading from "./Heading.astro";

interface Props {
	post: Post;
	heading?: "h1" | "h2";
}

const { heading, post } = Astro.props;

const createdAt = formatDate(post.data.createdAt);
---
<article class="grid gap-1">
  <a href={`/posts/${post.slug}`}><Heading as={heading} class="underline">{post.data.title}</Heading></a>
  <div class="grid grid-cols-[max-content_max-content] gap-4 text-sm">
    <span>作成日:<time datetime={createdAt}>{createdAt}</time></span>
    <div class="flex gap-x-2 flex-wrap text-sm">
      {post.data.tags.map((tag) => <a href={`/tags/${tag}`} class="underline">#{tag}</a>)}
    </div>
  </div>
  <slot />
</article>
